.Page404 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
}

.Img404 {
    width: 15rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.link {
    text-decoration: none;
}
